.navbar {
  display: flex;
  overflow: hidden;
  height: 15%;
  background-color: #d3d3d3;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar li {
  flex: 1;
}

.navbar-button {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  background-color: #1a4870;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Poppins", sans-serif;
  border: 0px;
}

.navbar-button:hover {
  background-color: #1a4870;
  color: white;
  transform: scale(1.02);
}

.navbar-link {
  text-decoration: none;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-width: 0px;
}
.active-link .navbar-button {
  background-color: #03346e;
  color: white;
}
