.started-training-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.training-name-container-started-training {
  height: 15vh;
  width: 100%;
  background-color: #1a4870;
}

.training-name-content-started-training {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.training-name-content-started-training h1 {
  font-family: inherit;
  color: white;
  margin-top: 20px;
}

.training-name-content-started-training p {
  color: white;
  font-family: inherit;
  font-weight: 400;
  margin: 5px 0 0 0;
}

.exercise-name-container-started-training {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
  scrollbar-width: none;
}

.exercise-name-container-started-training::-webkit-scrollbar {
  display: none;
}

.exercise-name-card-started-training {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.exercise-sets-name-img {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: relative;
  z-index: 2;
}

.img-container-started-training {
  height: 70px;
  width: 80px;
  background-color: #d3d3d3;
  border-radius: 10px;
  overflow: hidden;
}

.img-container-started-training img {
  width: 100%;
  height: 100%;
}

.exercise-info-container-started-training {
  display: flex;
  flex-direction: column;
}

.exercise-info-container-started-training h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.exercise-info-container-started-training p {
  margin: 5px 0 0 0;
}

.kg-and-reps-input-container-started-training {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transform: translateY(-100%);
  display: flex;
  justify-content: centre;
}

.exercise-name-card-started-training.expanded
  .kg-and-reps-input-container-started-training {
  max-height: 200px; /* Adjust based on your content */
  opacity: 1;
  transform: translateY(0);
}

.kg-and-reps-input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 20px;
}

.kg-and-reps-input-container input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  width: 60px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
}

.drop-down-button {
  background-color: transparent;
  border: none;
  color: #1a4870;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.exercise-name-card-started-training.expanded .drop-down-button {
  transform: rotate(180deg);
}
