.started-training-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.training-name-container-started-training {
  height: 15vh;
  width: 100%;
  background-color: #1a4870;
  position: relative;
}

.training-name-content-started-training {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-left: 40px;
}

.training-name-content-started-training h1 {
  font-family: inherit;
  color: white;
}
.arrow-button-container-started-training {
  position: absolute;
  top: 10px;
  width: fit-content;
  left: 10px;
}
.back-button-started-training {
  border: none;
  padding: 0px;
  background-color: #1a4870;
}

.training-name-content-started-training p {
  color: white;
  font-family: inherit;
  font-weight: 400;
  margin: 5px 0 0 0;
}

.exercise-name-container-started-training {
  flex-grow: 1;
  overflow-y: auto;

  scrollbar-width: none;
}

.exercise-name-container-started-training::-webkit-scrollbar {
  display: none;
}

.exercise-name-card-started-training {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.exercise-sets-name-img {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: relative;
  z-index: 2;
}

.img-container-started-training {
  height: 70px;
  width: 80px;
  background-color: #d3d3d3;
  border-radius: 10px;
  overflow: hidden;
}

.img-container-started-training img {
  width: 100%;
  height: 100%;
}

.exercise-info-container-started-training {
  display: flex;
  flex-direction: column;
}

.exercise-info-container-started-training h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.exercise-info-container-started-training p {
  margin: 5px 0 0 0;
}

.kg-and-reps-input-container-started-training {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transform: translateY(-100%);
  display: flex;
  justify-content: centre;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.add-set-button-started-training {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transform: translateY(-100%);
  display: flex;
  justify-content: centre;
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #d3d3d3;
  height: 2.5rem;
  border-radius: 10px;
}
.exercise-name-card-started-training.expanded .add-set-button-started-training {
  max-height: 200px; /* Adjust based on your content */
  opacity: 1;
  transform: translateY(0);
}

.exercise-name-card-started-training.expanded
  .kg-and-reps-input-container-started-training {
  max-height: 100px; /* Adjust based on your content */
  opacity: 1;
  transform: translateY(0);
}

.kg-and-reps-input-content-started-training {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: #d3d3d3;
  height: 2.5rem;
  align-items: center;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px 10px 10px 10px;
  padding: 35px 0px 35px 0px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.kg-and-reps-input-content-started-training.selected {
  background-color: #00712d;
  color: white;
}

.kg-and-reps-input-content-started-training input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  width: 60px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  font-size: 1rem;
}

.add-set-button-started-training button {
  width: 100%;
  border-radius: 10px;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.drop-down-button {
  background-color: transparent;
  border: none;
  color: #1a4870;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.exercise-name-card-started-training.expanded .drop-down-button {
  transform: rotate(180deg);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #1a4870;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked {
  background-color: white;
  border-color: black;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  color: #00712d;
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 1;
  position: absolute;
}
.finish-button-started-training {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 20px;
  top: 20px;
}
.finish-button-started-training button {
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 800;
}
.remove-set {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.swipe-instruction {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  right: 10px;
  bottom: 7px;
  color: white;
  font-family: inherit;
}
.swipe-instruction p {
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.7rem;
}
