.training-container {
  height: calc(100vh - 15%);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px 30px 0px;
  width: 100%;
}
.exercise-card-navlink {
  text-decoration: none; /* Removes default underline */
  color: inherit; /* Inherits the color of the parent or specified style */
  display: block; /* Ensure that the NavLink behaves like a div */
  width: 90%;
}

.new-button {
  font-family: "Poppins", sans-serif;
  width: 90%;
  height: auto;
  padding: 0.5rem 2rem;
  border: 0;
  margin: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: #1a4870;
  color: white;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.new-button:hover {
  background-color: #03346e;
  color: white;
  transform: scale(1.01);
}
.item-big-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
.training-name-container {
  width: 100%;
  height: fit-content;
}
.training-name-container h1 {
  color: black;
  font-size: 1.6rem;
}
.exercise-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: fit-content;
}
.all-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sets-reps-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.exercise-img-container {
  display: flex;
  gap: 15px;
}
.exercise-img-container img {
  height: auto;
  width: 70px;
}
.all-info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.custom-heading-container-exercises {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 65px;
}
.custom-heading-container-exercises h1 {
  color: black;
  font-size: 1.6rem;
  font-weight: 800;
}
.all-exercise-card-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
